.medaillesSection{
  height: 100%;
}

.medaillesSection__header{
  text-align: center;
  font-size: 3rem;
  color: var(--secondary-color);
  background: var(--background-color);
  border-radius: 1rem;
}

.medaillesSection__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;

  margin: 0 auto;
  margin-top: 1rem;
}

.medaillesSection__listItem{
  height: 8rem;
  width: 8rem;
}

.medaillesSection__medailleslot{
  width: 100%;
  height: 100%;

  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.medaillesSection__medailleslot:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
}

.medaillesSection__medailleslot__image{
  width: auto;
  height: 100%;
  object-fit: cover;
}

.medaillesPopup{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.medaillesPopup__header{
  width: 100%;

  text-align: center;
  font-size: 3rem;
  color: var(--secondary-color);
  background: var(--background-color);
  border-radius: 1rem 1rem 0 0;
}

.medaillesPopup__list{
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 2%;
}

.medaillesPopup__list::-webkit-scrollbar {
  width: 10px;
}

.medaillesPopup__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.medaillesPopup__list::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

.medaillesPopup__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.medaillesPopup__listItem{
  width: 100%;
  padding: 1rem 0;
  background-color: var(--background-color);
  border-bottom: 2px solid black;
}

.medaillesPopup__listItem:hover{
  cursor: pointer;
  background: #d9f8ff;
}

.medaillesPopup__medailleCard{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.medaillesPopup__medailleCard__figure{
  width: 26%;
  height: 100%;
}

.medaillesPopup__medailleCard__image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.medaillesPopup__medailleCard__beschrijving{
  width: 70%;
}

.medaillesPopup__medailleCard__beschrijving__header{
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.medaillesPopup__medailleCard__beschrijving__text{
  font-size: 1.2rem;
}

.medaillesPopup__button{
  display: block;
  width: 100%;
  height: 10%;

  font-size: 2.4rem;
  font-weight: bold;

  border-radius: 2rem;
  background-color: var(--cancel-color-primary);
  border: 6px solid var(--cancel-color-secondary);
}

.medaillesPopup__button:hover{
  cursor: pointer;
  background-color: var(--cancel-color-secondary);
  border: 6px solid var(--cancel-color-primary);
}
