.flex--row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

@media  (min-width: 560px){
    .flex--row {
        width: 40%;
    }
}