:root{
    --primary-color: #90C2C4;
    --secondary-color: #369093;
    --tertiary-color: #CA4838;
    --success-color: #A1EDA5;
    --try-again-color: #FF8847;
    --disabled1-color: #909494;
    --disabled2-color: #B4B4B4;
    --background-color: #F7F7F7;

    /*GENRES:*/
    --avontuur: #cb7cff;
    --humor: #ff8847;
    --fantasie: #ffeb3e;
    --sprookjes: #335d2d;
    --dieren-en-natuur: #a1eda5;
    --spanning: #fc6c6c;
    --griezelig: #04009a;
    --vriendschap-en-verliefd: #ba135d;
    --alle-genres: #90c2c4;
    --mijn-favorieten: #9d9aff;
}

.bookcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin: 5% auto;
}

.slick-slider{
    padding: 0;
    height: 55rem;
}

.slick-list{
    height: 55rem;
}

.bookcard__cover{
    position: relative;
    width: 25rem;
}

.genre{
  padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre__naam{
    padding: 1rem 4rem;
    font-size: 1.8rem;
    border-radius: 5rem;

    text-decoration: none;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

li > .genre__naam[data-genre="Avontuur"] {
    box-shadow: 0px 5px 0px 0px rgba(161,47,236, 1);
}
li > .genre__naam[data-genre="Dieren en natuur"] {
    box-shadow: 0px 5px 0px 0px #47b960;
}
li > .genre__naam[data-genre="Fantasie"] {
    box-shadow: 0px 5px 0px 0px #8d8e2a;
}
li > .genre__naam[data-genre="Griezelverhaal"] {
    box-shadow: 0px 5px 0px 0px #130d6f;
}
li > .genre__naam[data-genre="Humor"] {
    box-shadow: 0px 5px 0px 0px #694b14;
}
li > .genre__naam[data-genre="Spanning"] {
    box-shadow: 0px 5px 0px 0px #970f41;
}
li > .genre__naam[data-genre="Sprookjes"] {
    box-shadow: 0px 5px 0px 0px #1f4a19;
}
li > .genre__naam[data-genre="Vriendschap en Verliefd"] {
    box-shadow: 0px 5px 0px 0px #690b4c;
}
li > .genre__naam[data-genre="Alle_boeken"] {
    box-shadow: 0px 5px 0px 0px #369090;
}

.genre__naam[data-genre="Avontuur"] {
    background-color: var(--avontuur);
    color: #212121;
}

.genre__naam[data-genre="Dieren%20en%20natuur"] {
    background-color: var(--dieren-en-natuur);
    color: #212121;
}

.genre__naam[data-genre="Dieren en natuur"] {
    background-color: var(--dieren-en-natuur);
    color: #212121;
}

.genre__naam[data-genre="Griezelverhaal"] {
    background-color: #8a9ee8;
    color: #212121;
}

.genre__naam[data-genre="Humor"] {
    background-color: var(--humor);
    color: #212121;
}

.genre__naam[data-genre="Spanning"] {
    background-color: var(--spanning);
    color: #212121;
}

.genre__naam[data-genre="Sprookjes"] {
    background-color: #59b54c;
    color: #212121;
}

.genre__naam[data-genre="Vriendschap%20en%20Verliefd"] {
    background-color: #f95aa1;
    color: #212121;
}

.genre__naam[data-genre="Vriendschap en Verliefd"] {
    background-color: #f95aa1;
    color: #212121;
}

.genre__naam[data-genre="Fantasie"] {
    background-color: var(--fantasie);
    color: #212121;
}

.genre__naam[data-genre="Alle_boeken"] {
    background-color: var(--alle-genres);
    color: #212121;
}

@media(min-width: 550px ){
    .slick-list{
        height: 60rem;
    }

    .slick-slider{
        height: 65rem;
    }

    .bookcard__cover{
        width: 30rem;
    }
}

@media(min-width: 700px){
    .slick-list{
        height: 70rem;
    }

    .slick-slider{
        height: 72rem;
    }

    .bookcard__cover{
        width: 35rem;
    }
}

/* ################## Pijltjes ########################*/
@media only screen and (max-width: 550px) and (min-width: 320px)  {

    .arrow{
        font-size: 4rem;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .arrow:hover{
        cursor: pointer;
    }

    .prevArrow{
        justify-content: flex-start;
        align-items: center;
        top: 20.5rem;
        padding-left: 2rem;
        width: 50%;
    }

    .nextArrow{
    justify-content: flex-end;
    align-items: center;
    bottom: 40rem;
    padding-right: 2rem;
    width: 50%;
    float: right;
    }
}

@media only screen and (max-width: 700px) and (min-width: 550px)  {
    .arrow{
        font-size: 5rem;
        display: flex;
        position: relative;
        z-index: 3;
    }

    .prevArrow{
        justify-content: flex-start;
        align-items: center;
        top: 24rem;
        padding-left: 2rem;
        width: 50%;
    }

    .nextArrow{
        justify-content: flex-end;
        align-items: center;
        bottom: 43rem;
        padding-right: 2rem;
        width: 50%;
        float: right;
    }
}

@media only screen and (max-width: 900px) and (min-width: 700px)  {
    .arrow{
        font-size: 5rem;
        display: flex;
        position: relative;
        z-index: 3;
    }

    .prevArrow{
        justify-content: flex-start;
        align-items: center;
        top: 27rem;
        padding-left: 5rem;
        width: 50%;
    }

    .nextArrow{
        justify-content: flex-end;
        align-items: center;
        bottom: 50rem;
        padding-right: 5rem;
        width: 50%;
        float: right;
    }
}

/*###################### CSS ART - HARTJE ######################################*/
.like{
    padding: 1rem;
    border-radius: 50%;
    z-index: 2;
    top: 6.5rem;
    left: 9rem;
    background-color: var(--primary-color);
    border: .3rem solid var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.like:hover{
    cursor: pointer;
}

.hartje{
    float: right;
    padding: .2rem;
    border: none;
    margin: 0.6rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
    position: relative;
    transform: rotate(45deg);
    border: none;
}

.hartje::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
}

.hartje::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
}

.hartje[data-liked=true], .hartje[data-liked=true]::before, .hartje[data-liked=true]::after {
    background-color: var(--tertiary-color);
}


.hartje--rood{
    float: right;
    padding: .5rem;
    border: none;
    margin: 0.3rem;
    width: 5px;
    height: 5px;
    background-color: red;
    display: flex;
    position: relative;
    transform: rotate(45deg);
}

.hartje--rood::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: red;
    border-radius: 50%;

}

.hartje--rood::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: red;
    border-radius: 50%;
}

@media (min-width:550px){
    .like{
        top: 6.5rem;
        left: 11.5rem;
    }
}

@media (min-width:700px){
    .like{
        top: 6.5rem;
        left: 14rem;
    }
}
