.winkelSection__previewSection__btnSection {
    height: 20%;
  }
  
  .previewSection__btnSection__button {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 2rem;
    background-color: var(--primary-color);
    border: 6px solid var(--secondary-color);
    margin: 0 auto;
  }
  
  .button--koop {
    width: 10rem;
    padding: 1rem 0;
  }
  
  .button--select {
    padding: 1rem;
  }
  
  .previewSection__btnSection__button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    border: 6px solid var(--primary-color);
  }