:root{
    --primary-color: #90C2C4;
    --secondary-color: #369093;
    --tertiary-color: #CA4838;
    --success-color: #A1EDA5;
    --try-again-color: #FF8847;
    --disabled1-color: #909494;
    --disabled2-color: #B4B4B4;
    --background-color: #F7F7F7;

    /*GENRES:*/
    --avontuur: #cb7cff;
    --humor: #ff8847;
    --fantasie: #ffeb3e;
    --sprookjes: #335d2d;
    --dieren-en-natuur: #a1eda5;
    --spanning: #fc6c6c;
    --griezelig: #04009a;
    --vriendschap-en-verliefd: #ba135d;
    --alle-genres: #90c2c4;
    --mijn-favorieten: #9d9aff;
}

.bookcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 50vh;
    margin: 5% auto;
}

.slick-slider{
    padding: 0;
    height: 55rem;
}

.slick-list{
    height: 55rem;
}

.bookcard__cover{
    position: relative;
    width: 25rem;
}

.genre{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre__naam{
    padding: 1rem 4rem;
    font-size: 1.8rem;
    border-radius: 5rem;
    width: 50%;

    text-decoration: none;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

li > .genre__naam[data-genre="Avontuur"] {
    box-shadow: 0px 5px 0px 0px rgba(161,47,236, 1);
}
.genre__naam[data-genre="Avontuur"] {
    background-color: var(--avontuur);
    color: #212121;
}

.genre__naam[data-genre="Dieren%20en%20natuur"] {
    background-color: var(--dieren-en-natuur);
    color: #212121;
}

.genre__naam[data-genre="Dieren en natuur"] {
    background-color: var(--dieren-en-natuur);
    color: #212121;
}

.genre__naam[data-genre="Griezelverhaal"] {
    background-color: var(--griezelig);
    color: var(--background-color);
}

.genre__naam[data-genre="Humor"] {
    background-color: var(--humor);
    color: #212121;
}

.genre__naam[data-genre="Spanning"] {
    background-color: var(--spanning);
    color: #212121;
}

.genre__naam[data-genre="Sprookjes"] {
    background-color: var(--sprookjes);
    color: var(--background-color);
}

.genre__naam[data-genre="Vriendschap%20en%20Verliefd"] {
    background-color: var(--vriendschap-en-verliefd);
    color: var(--background-color);
}

.genre__naam[data-genre="Vriendschap en Verliefd"] {
    background-color: var(--vriendschap-en-verliefd);
    color: var(--background-color);
}

.genre__naam[data-genre="Fantasie"] {
    background-color: var(--fantasie);
    color: #212121;
}

.genre__naam[data-genre="Alle_boeken"] {
    background-color: var(--alle-genres);
    color: #212121;
}

@media(min-width: 550px){
    .slick-list{
        height: 60rem;
    }

    .slick-slider{
        height: 65rem;
    }

    .bookcard__cover{
        width: 30rem;
    }
}

@media(min-width: 700px){
    .slick-list{
        height: 70rem;
    }

    .slick-slider{
        height: 72rem;
    }

    .bookcard__cover{
        width: 35rem;
    }
}

/* ################## Pijltjes ########################*/

.arrow{
  font-size: 4rem;
  display: flex;
  position: relative;
  z-index: 2;
}

.prevArrow{
    justify-content: flex-start;
    align-items: center;
    top: 20.5rem;
    padding-left: 2rem;
}

.nextArrow{
  justify-content: flex-end;
  align-items: center;
  bottom: 40rem;
  padding-right: 2rem;
}

@media(min-width: 550px){
    .arrow{
        font-size: 5rem;
    }

    .prevArrow{
        top: 25rem;
        padding-left: 3rem;
    }

    .nextArrow{
        bottom: 42rem;
        padding-left: 3rem; 
    }
}

@media(min-width: 700px){
    .prevArrow{
        top: 30rem;
        padding-left: 5rem;
    }

    .nextArrow{
        bottom: 47rem;
        padding-left: 10rem; 
    }
}

/*###################### CSS ART - HARTJE ######################################*/
.like{
    padding: 1rem;
    border-radius: 50%;
    z-index: 2;
    top: 6.5rem;
    left: 9rem;
    background-color: var(--primary-color);
    border: .3rem solid var(--secondary-color);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.like:hover{
    cursor: pointer;
}

.hartje{
    float: right;
    padding: .2rem;
    border: none;
    margin: 0.6rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
    position: relative;
    transform: rotate(45deg);
    border: none;
}

.hartje::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
}

.hartje::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
}

.hartje:hover, .hartje:hover::after, .hartje:hover::before{
    background-color: pink;
    cursor: pointer;
}

.hartje--rood{
    float: right;
    padding: .5rem;
    border: none;
    margin: 0.3rem;
    width: 5px;
    height: 5px;
    background-color: red;
    display: flex;
    position: relative;
    transform: rotate(45deg);
}

.hartje--rood::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: red;
    border-radius: 50%;

}

.hartje--rood::after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    background-color: red;
    border-radius: 50%;
}

@media (min-width:550px){
    .like{
        top: 6.5rem;
        left: 11.5rem;
    }
}

@media (min-width:700px){
    .like{
        top: 6.5rem;
        left: 14rem;
    }
}