@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #90C2C4;
  --secondary-color: #369093;
  --tertiary-color: #CA4838;
  --success-color: #A1EDA5;
  --try-again-color: #FF8847;
  --disabled1-color: #909494;
  --disabled2-color: #B4B4B4;
  --background-color: #F7F7F7;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

/* ========== UTILITY CLASSES ========== */

/* ===> BUTTONS */
.u-buttonSection{
  position: relative;
  display: inline-block;
  margin: 2rem;
  border-radius: 5rem;
}

.u-button{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size: 1.8rem;
  text-align: center;
  text-decoration:none;
  background-color:#90C2C4;
  display:block;
  position:relative;
  padding:1.5rem 3rem;
  border-radius: 5rem;
  text-shadow: 0px 1px 0px #336699;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #15487a;
}

.u-button:active{
  top:1rem;
  background-color:#90C2C4;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -.2px 0 #915100;
}

.u-buttonSection::after{
  content:"";
  height:100%;
  width:100%;
  position: absolute;
  bottom:-1.5rem;
  left:-.1rem;
  z-index:-1;
  background-color:#2B1800;
  border-radius: 5rem;
}
