.woordzoeker{
  max-width: 50rem;
}

.woordzoeker__matrix__lijst{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}

.woordzoeker__matrix_letter{
  border: solid .1rem black;
  font-size: 1.8rem;
  padding: .5rem 0rem;
  text-align: center;
  transition: 1s;
}

.woordzoeker__bericht_fout,.woordzoeker__bericht_goed,.woordzoeker__bericht_gedaan{
  display: none;
}

.woordzoeker__bericht__hint{
  display: none;
}

.woordzoeker__bericht__tekst{
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.woordzoeker__bericht, .woordzoeker__geraden{
  width: 90%;
  margin: 0 auto;
}

.woordzoeker__invoer{
  text-align: center;
  padding: 1rem;
}

.woordzoeker__geraden{
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
}

.woordzoeker__geraden__lijst{
  list-style: none;
}
