.confetti{
  position: absolute !important;
  top: 0;
  left: 50%;
  transform: translateX(50%);
}

.gefeliciteerd{
  text-align: center;
}

.gefeliciteerd_h1{
  color: var(--success-dark-color);
  font-size: 3rem;
  margin-top: 20rem;
}

.gefeliciteerd_p{
  font-size: 1.8rem;

}

.gefeliciteerd__button{
  margin-top: 1rem;
  padding: 1rem;
  width: 20rem;
  background-color: var(--success-color);
  border: solid .2rem var(--success-dark-color);
  border-radius: 2.5rem;
  box-shadow: .2rem .2rem 0 var(--success-dark-color);
}

.button_green:hover{
  cursor: pointer;
  background-color: var(--success-dark-color);
  border-color: var(--success-color);
}

.button_green:active{
  box-shadow: none;
  transform: translateY(.1rem);
}
