@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*, *::before, *::after{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --primary-color: #90C2C4;
  --secondary-color: #369093;
  --tertiary-color: #CA4838;
  --success-color: #A1EDA5;
  --success-dark-color: #75CF7A;
  --try-again-color: #FF8847;
  --disabled1-color: #909494;
  --disabled2-color: #B4B4B4;
  --background-color: #F7F7F7;

  /* ===== BOEKENKAST ===== */
  --book-color-red: linear-gradient(180deg, #FF6363 0%, #CC2A2A 100%);
  --book-color-yellow: linear-gradient(180deg, #FFF170 0%, #AE8F3E 100%);
  --book-color-green: linear-gradient(180deg, #4EE06E 0%, #34A44C 100%);
  --book-color-blue: linear-gradient(180deg, #8CF1FF 0%, #52ACB9 100%);
  --book-color-purple: linear-gradient(180deg, #EB70FF 0%, #AC3EAE 100%);
  --cancel-color-primary: #ffb3b3;
  --cancel-color-secondary: #fa5353;

  /* ===== GENRES ===== */
  --avontuur: #cb7cff;
  --humor: #ff8847;
  --fantasie: #ffeb3e;
  --sprookjes: #335d2d;
  --dieren-en-natuur: #a1eda5;
  --spanning: #fc6c6c;
  --vriendschap-en-verliefd: #ba135d;
  --alle-genres: #90c2c4;
  --mijn-favorieten: #9d9aff;

  /* ==== FONTS ==== */
  --fnt-roboto: 'Roboto', sans-serif;
  --fnt-assistant: 'Assistant', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--background-color);
  font-family: var(--fnt-roboto);
}

main{
  max-width: 100rem;
  margin: 10rem auto 0 auto;
}

#css--desktopNav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#css-mobileNav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


/* ========== UTILITY CLASSES ========== */
.u-slider{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  list-style: none;
}

.u-slider:nth-child(1){
  margin-left: 5rem;
}

.u-slider:nth-last-child(){
  margin-right: 5rem;
}

.u-buttonSection{
  position: relative;
  display: inline-block;
  margin: 2rem;
  border-radius: 5rem;
}

.u-button{
  display: block;
  padding: .6rem;

  color: black;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;

  border-radius: 2rem;
  background-color: var(--primary-color);
  border: 4px solid var(--secondary-color);
  box-shadow: 2px 4px #888888;
}

.u-button:hover{
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 4px solid var(--primary-color);
}

.u-button:active{
  top:1rem;
  background-color:#90C2C4;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -.2px 0 #915100;
}

/* .u-buttonSection::after{
  content:"";
  height:100%;
  width:100%;
  position: absolute;
  bottom:-1.5rem;
  left:-.1rem;
  z-index:-1;
  background-color:#2B1800;
  border-radius: 5rem;
} */

.u-box-shadow{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}
