.boekenkaart{
    background-color: var(--background-color);
    display: grid;
    width: 60%;
    margin: 0 auto;
    padding: 1.5rem;
    grid-template-areas: 
    'image header header'
    'image voortgang verder';
}

.boekenkaart__header{
    background-color: var(--primary-color);
    grid-area: header;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}

.boekenkaart__header__titel{
    font-size: 1.8rem;
}

.boekenkaart__header__auteur{
    font-size: 1.8rem;
    font-weight: 100;
}

.boekenkaart__image{
    grid-area: image;
    background-color: red;
    border-radius: 2rem;
}

.boekenkaart__voortgang{
    grid-area: voortgang;
}

.boekenkaart__verder{
    grid-area: verder;
    color: black;
    font-size: 2rem;
}

